---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import RandomCardPage from "src/components/RandomCardPage";
const technologyCardsDeck = await getCollection("technologyCardsDeck");
const outputCards = await getCollection("technologyCardsOutput");
---

<Layout
  title="Technology Cards Study"
  dark
>
  <section class="max-h-screen py-8">
    <div class="space-y-4">
      <h1 class="text-center text-2xl">Technology Cards Study</h1>

      <hr />
    </div>

    <RandomCardPage
      client:load
      cards={technologyCardsDeck}
      outputCards={outputCards}
    />
  </section>
</Layout>
