@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 0 0% 10%;

    --card: 0 0% 90%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 90%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 90%;

    --secondary: 0 0% 77.8%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 77.8%;
    --muted-foreground: 0 0% 56.9%;

    --accent: 0 0% 77.8%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 74.2% 70.2%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 81.4%;
    --input: 0 0% 81.4%;
    --ring: 0 0% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 27.5%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 27.5%;
    --muted-foreground: 0 0% 75.1%;

    --accent: 0 0% 27.5%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 0% 40.6%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 27.5%;
    --input: 0 0% 27.5%;
    --ring: 0 0% 93.9%;
  }
}

@layer base {
  * {
    /* @apply !outline !outline-red-600; */
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* https://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.front,
.flip-container,
.back {
  @apply min-h-[60vh] min-w-[70%];
  /* @apply h-[60vh] w-[80vw] max-w-[580px] md:h-[60vh]; */
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
