---
import { buttonVariants } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import IndexItem from "src/components/IndexItem.astro";
const flippableCards = await getCollection("flippableCards");

const sections = [
  {
    title: "Technology Cards",
    link: "/technology-cards/study",
  },
  {
    title: "Magic Cards",
    link: "/magic-cards/study",
  },
  {
    title: "Function Cards",
    link: "/function-cards/study",
  },
];
---

<Layout title="Choose your card">
  <section>
    <h1 class="my-12 text-balance text-center text-2xl font-bold capitalize">
      View a selection of cards
    </h1>

    <div class="flex w-full justify-center gap-4">
      {
        sections.map((section) => (
          <a
            href={section.link}
            class:list={[
              buttonVariants({ variant: "default" }),
              "mb-10 w-full",
            ]}
          >
            {section.title}
          </a>
        ))
      }
    </div>

    <!-- <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {flippableCards.map((card) => <IndexItem {...card.data} />)}
    </div> -->
  </section>
</Layout>
