---
import { buttonVariants } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";

const sections = [
  {
    title: "Technology Cards",
    link: "/technology-cards/study",
  },
  {
    title: "Magic Cards",
    link: "/magic-cards/study",
  },
  {
    title: "Function Cards",
    link: "/function-cards/study",
  },
];
---

<Layout
  title="Choose your card"
  dark
>
  <section class="max-h-screen py-8">
    <div class="mb-8 space-y-4">
      <h1 class="text-balance text-center text-2xl capitalize">
        View a selection of cards
      </h1>

      <hr />
    </div>

    <div class="grid w-full grid-cols-3 gap-4">
      {
        sections.map((section) => (
          <a
            href={section.link}
            class:list={[
              buttonVariants({ variant: "default" }),
              "mb-10 w-full",
            ]}
          >
            {section.title}
          </a>
        ))
      }

      <a
        href="/sessions"
        class:list={[
          buttonVariants({ variant: "default" }),
          "mb-10 w-full capitalize",
        ]}
      >
        see all sessions
      </a>
    </div>
  </section>
</Layout>
