---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const flippableCards = await getCollection("flippableCards");
import RandomCards from "src/components/RandomCards.tsx";
---

<Layout title="Start your randomised experience">
  <section class="py-8">
    <RandomCards
      client:load
      cards={flippableCards}
    />
  </section>
</Layout>
