---
import { buttonVariants } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Session, db } from "astro:db";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import Layout from "../../layouts/Layout.astro";

// extend dayjs with duration plugin
dayjs.extend(duration);

// get all data
const sessions = await db.select().from(Session);
---

<Layout
  title="Download Session Data"
  dark
>
  <section class="max-h-screen py-8">
    <h1 class="mb-6 text-balance text-center text-2xl capitalize">
      See all sessions recorded so far
    </h1>

    <div>
      <button
        type="button"
        id="download"
        class:list={[buttonVariants({ variant: "default" }), "mb-10 w-full"]}
      >
        Download all(!) Data for all sessions
      </button>
    </div>

    <div class="grid grid-cols-3 gap-4">
      {
        sessions.map((session) => {
          const timeStarted = dayjs(session.timeStarted);
          const sessionEnd = timeStarted.add(
            session.session_duration,
            "milliseconds",
          );
          const sessionDuration = dayjs.duration(
            session.session_duration,
            "milliseconds",
          );

          const humanDuration = sessionDuration.format("m[m] s[s]");

          return (
            <a href={`/sessions/${session.id}`}>
              <Card className="hover:bg-white/10 transition-colors">
                <CardHeader>
                  <CardTitle>
                    Session {session.id}, Device {session.device_identifier}
                  </CardTitle>
                </CardHeader>

                <CardContent>
                  <p>
                    Session Start:{" "}
                    {timeStarted.format("h:mm:ss A, MMMM D YYYY")}
                  </p>

                  <p>
                    Session End: {sessionEnd.format("h:mm:ss A, MMMM D YYYY")}
                  </p>

                  <p>Session Duration: {humanDuration}</p>
                </CardContent>
              </Card>
            </a>
          );
        })
      }
    </div>
  </section>
</Layout>

<script>
  const button = document.querySelector("#download");

  async function downloadJson() {
    const response = await fetch("/api/sessions");
    const data = await response.json();

    const blob = new Blob([JSON.stringify(data, null, 2)], {
      type: "application/json",
    });
    const url = URL.createObjectURL(blob);
    const a = document.createElement("a");
    a.href = url;
    a.download = "sessions.json";
    a.click();
    URL.revokeObjectURL(url);
  }

  if (button) {
    button.addEventListener("click", downloadJson);
  }
</script>
