---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Session, db } from "astro:db";
import dayjs from "dayjs";
import Layout from "../../layouts/Layout.astro";

// get all data
const sessions = await db.select().from(Session);
---

<Layout
  title="Download Session Data"
  dark
>
  <section class="max-h-screen py-8">
    <h1 class="mb-6 text-balance text-center text-2xl capitalize">
      See all sessions recorded so far
    </h1>

    <div class="grid grid-cols-3 gap-4">
      {
        sessions.map((session) => {
          return (
            <a href={`/sessions/${session.id}`}>
              <Card className="hover:bg-white/10 transition-colors">
                <CardHeader>
                  <CardTitle>Session ID: {session.id}</CardTitle>
                </CardHeader>

                <CardContent>
                  <p>Device Identifier: {session.device_identifier}</p>
                  <p>
                    Session Start:{" "}
                    {dayjs(session.timeStarted).format(
                      "h:mm:ss A, MMMM D YYYY",
                    )}
                  </p>
                </CardContent>
              </Card>
            </a>
          );
        })
      }
    </div>
  </section>
</Layout>
