---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import RandomCardPage from "src/components/RandomCardPage";
const deckCards = await getCollection("functionCardsDeck");
const outputCards = await getCollection("functionCardsOutput");
---

<Layout title="Function Cards Study">
  <section class="max-h-screen py-8">
    <div class="space-y-4">
      <h1 class="text-center text-2xl">Function Cards Study</h1>

      <hr />
    </div>

    <RandomCardPage
      client:load
      cards={deckCards}
      outputCards={outputCards}
    />
  </section>
</Layout>
