---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import RandomCardPage from "src/components/RandomCardPage";
const deckCards = await getCollection("functionCardsDeck");
const outputCards = await getCollection("functionCardsOutput");
---

<Layout title="Function Cards Randomiser">
  <section class="py-8">
    <RandomCardPage
      client:load
      cards={deckCards}
      outputCards={outputCards}
    />
  </section>
</Layout>
