---
// https://davidwalsh.name/css-flip

interface Props {
  imageFront: ImageMetadata;
  title?: string | undefined;
  body?: string | undefined;
  imageBack?: ImageMetadata | undefined;
  flippable?: boolean | undefined;
}

const { title, body, imageFront, imageBack } = Astro.props;
---

<a
  class="text-white hover:underline"
  href=`/cards/${title}`
>
  <h2>
    {title}
  </h2>

  <p>
    {body}
  </p>
</a>
