---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

// https://davidwalsh.name/css-flip

interface Props {
  imageFront: ImageMetadata;
  title?: string | undefined;
  body?: string | undefined;
  imageBack?: ImageMetadata | undefined;
  flippable?: boolean | undefined;
}

const { title, body, imageFront, imageBack } = Astro.props;
---

<a
  class={cn(buttonVariants({ variant: "outline" }), "border")}
  href=`/cards/${title}`
>
  <h4>
    {title}
  </h4>

  {body && <p>{body}</p>}
</a>
