---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

const { title, body, href } = Astro.props;
---

<a
  class={cn(buttonVariants({ variant: "outline" }), "border")}
  href={href}
>
  <span>
    {title}
  </span>

  {body && <span>{body}</span>}
</a>
