---
import { getCollection } from "astro:content";
import FlippyCard from "../../components/FlippyCard.tsx";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const cards = await getCollection("flippableCards");
  return cards.map((entry) => ({
    params: { title: entry.data.title },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Layout title=`${entry.data.title} Card`>
  <section class="py-12">
    <FlippyCard
      client:load
      {...entry.data}
      isDialogOpen={false}
    />
  </section>
</Layout>
